body {
  margin: 0;
  font-family: 'Kollektif';
  src: url(./fonts/Kollektif.ttf);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

